pro2final/ClientDAL/Web References/WSOrdreDAL/OrdreDAL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getOrdre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ordreID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOrdreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getOrdreResult" type="tns:Ordre" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Ordre">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrdreID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrdreDato" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Brukernavn" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="nyOrdre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="o" type="tns:Ordre" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nyOrdreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nyOrdreResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="slettOrdre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ordreID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="slettOrdreResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getOrdreSoapIn">
    <wsdl:part name="parameters" element="tns:getOrdre" />
  </wsdl:message>
  <wsdl:message name="getOrdreSoapOut">
    <wsdl:part name="parameters" element="tns:getOrdreResponse" />
  </wsdl:message>
  <wsdl:message name="nyOrdreSoapIn">
    <wsdl:part name="parameters" element="tns:nyOrdre" />
  </wsdl:message>
  <wsdl:message name="nyOrdreSoapOut">
    <wsdl:part name="parameters" element="tns:nyOrdreResponse" />
  </wsdl:message>
  <wsdl:message name="slettOrdreSoapIn">
    <wsdl:part name="parameters" element="tns:slettOrdre" />
  </wsdl:message>
  <wsdl:message name="slettOrdreSoapOut">
    <wsdl:part name="parameters" element="tns:slettOrdreResponse" />
  </wsdl:message>
  <wsdl:portType name="OrdreDALSoap">
    <wsdl:operation name="getOrdre">
      <wsdl:input message="tns:getOrdreSoapIn" />
      <wsdl:output message="tns:getOrdreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="nyOrdre">
      <wsdl:input message="tns:nyOrdreSoapIn" />
      <wsdl:output message="tns:nyOrdreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="slettOrdre">
      <wsdl:input message="tns:slettOrdreSoapIn" />
      <wsdl:output message="tns:slettOrdreSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrdreDALSoap" type="tns:OrdreDALSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getOrdre">
      <soap:operation soapAction="http://tempuri.org/getOrdre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nyOrdre">
      <soap:operation soapAction="http://tempuri.org/nyOrdre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="slettOrdre">
      <soap:operation soapAction="http://tempuri.org/slettOrdre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrdreDALSoap12" type="tns:OrdreDALSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getOrdre">
      <soap12:operation soapAction="http://tempuri.org/getOrdre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nyOrdre">
      <soap12:operation soapAction="http://tempuri.org/nyOrdre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="slettOrdre">
      <soap12:operation soapAction="http://tempuri.org/slettOrdre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrdreDAL">
    <wsdl:port name="OrdreDALSoap" binding="tns:OrdreDALSoap">
      <soap:address location="http://localhost:3302/ServerDAL/OrdreDAL.asmx" />
    </wsdl:port>
    <wsdl:port name="OrdreDALSoap12" binding="tns:OrdreDALSoap12">
      <soap12:address location="http://localhost:3302/ServerDAL/OrdreDAL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>